@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans text-gray-900;
}

/* Custom styles for form elements */
input, select, textarea {
  @apply outline-none;
}

/* Text selection color */
::selection {
  @apply bg-amber-600 text-white;
}

/* Improve webkit autofill appearance */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}